.body {
  font-family: "Poppins", sans-serif;
  background-color: white;
  color: black;
}

@media screen and (min-width: 320px) {
  .body {
    overflow-x: hidden;
  }
}

@media only screen and (max-width: 991px) {
  .body {
    position: relative;
  }
}

.body.modal-open {
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  padding: 0px 32px;
  margin: 0 auto;
  text-align: center;
}

@media only screen and (min-width: 320px) {
  .container {
    width: 320px;
    padding: 0 15px;
    padding-bottom: 50px;
  }
}

@media only screen and (min-width: 575px) {
  .container {
    width: 575px;
    padding-bottom: 100px;
  }
}

@media only screen and (min-width: 767px) {
  .container {
    width: 728px;
    padding: 0 20px;
    padding-bottom: 50px;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    width: 962px;
    padding: 0 40px;
    padding-bottom: 100px;
  }
}

@media only screen and (min-width: 1600px) {
  .container {
    width: 1368px;
    padding: 0 70px;
    padding-bottom: 200px;
  }
}

.logo {
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
  color: black;
}

@media only screen and (max-width: 574px) {
  .logo {
    font-size: 24px;
    line-height: 36px;
  }
}

@media only screen and (max-width: 766px) {
  .logo {
    position: absolute;
    top: 30px;
    left: 16px;
  }
}

@media only screen and (min-width: 1600px) {
  .logo {
    font-size: 36px;
    line-height: 54px;
  }
}

.logo-span {
  color: #8f95a5;
}

.menu__btn {
  position: absolute;
  top: 30px;
  right: 16px;
  z-index: 30;
  display: block;
  margin: 0;
  padding: 0;
  border: transparent;
  background: transparent;
}

@media only screen and (min-width: 992px) {
  .menu__btn {
    display: none;
  }
}

.menu__btn {
  position: fixed;
}

.menu__btn.is-open {
  position: absolute;
}

.menu__icon-open {
  display: none;
}

.menu__btn.is-open .menu__icon-open {
  display: block;
}

.menu__btn.is-open .menu__icon-close {
  display: none;
}

.backdrop {
  display: none;
}

.backdrop.is-open {
  display: inline-block;
  position: fixed;
  top: 1000px;
  right: 0;
  z-index: 5;
  width: 100vw;
  height: 100vh;
  background: rgba(7, 34, 47, 0.7);
  overflow: hidden;
}

.menu__wrapper {
  display: none;
}

.backdrop.is-open .menu__wrapper {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  z-index: 20;
  padding: 20px 20px;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
}

@media only screen and (min-width: 767px) {
  .backdrop.is-open .menu__wrapper {
    width: 70vh;
    padding-top: 30px;
  }
}

.menu__wrapper .menu__list {
  margin: 0;
  margin-bottom: 50px;
  padding-top: 30px;
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 24px;
  line-height: 65px;
  border-top: 1px solid #8f95a5;
}

.menu__wrapper .menu__item {
  display: block;
  width: 100%;
  margin: 0;
  text-align: left;
}

.menu__wrapper .header__btn {
  width: 100%;
}

@media only screen and (max-width: 991px) {
  .menu__wrapper .header__btn {
    max-width: 330px;
  }
}

@media only screen and (min-width: 767px) {
  .menu__wrapper .logo {
    margin-bottom: 25px;
  }
}

.menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
}

.header__container {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 991px) {
  .navigation {
    display: none;
  }
}

.menu__list {
  display: flex;
  margin-right: 100px;
}

@media only screen and (min-width: 1600px) {
  .menu__list {
    margin-right: 300px;
  }
}

.menu__item:not(:last-child) {
  margin-right: 30px;
}

.menu__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #263238;
}

@media only screen and (min-width: 1600px) {
  .menu__link {
    font-size: 20px;
    line-height: 30px;
  }
}

.header__btn {
  display: inline-block;
  padding: 12px 40px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: black;
  border: 2px solid #263238;
  border-radius: 5px;
}

@media only screen and (min-width: 1600px) {
  .header__btn {
    padding: 17px 57px;
  }
}

.footer__container {
  position: relative;
  padding-top: 25px;
  padding-bottom: 25px;
}

.footer__container::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  margin-bottom: 26px;
  width: 100%;
  height: 1px;
  background-color: #c4c4c4;
}

@media only screen and (min-width: 575px) {
  .footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.footer__logo {
  position: static;
}

@media only screen and (max-width: 574px) {
  .footer__logo {
    display: inline-block;
    margin-bottom: 15px;
  }
}

.policy {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

.policy__item {
  position: relative;
  display: inline;
}

.policy__item:not(:last-child)::after {
  position: absolute;
  top: 0px;
  right: -6px;
  content: ".";
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  color: #8f95a5;
}

@media only screen and (min-width: 575px) {
  .policy__item:not(:last-child)::after {
    top: -1px;
    font-size: 12px;
    line-height: 18px;
  }
}

@media only screen and (min-width: 767px) {
  .policy__item:not(:last-child)::after {
    top: -3px;
    font-size: 13px;
    line-height: 20px;
  }
}

@media only screen and (min-width: 992px) {
  .policy__item:not(:last-child)::after {
    font-size: 16px;
    line-height: 24px;
  }
}

@media only screen and (min-width: 1600px) {
  .policy__item:not(:last-child)::after {
    font-size: 24px;
    line-height: 36px;
    top: -5px;
    right: -16px;
  }
}

.policy__item:not(:last-child) {
  margin-right: 9px;
}

@media only screen and (min-width: 1600px) {
  .policy__item:not(:last-child) {
    margin-right: 30px;
  }
}

.policy__link {
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  color: #8f95a5;
}

@media only screen and (min-width: 575px) {
  .policy__link {
    font-size: 12px;
    line-height: 18px;
  }
}

@media only screen and (min-width: 767px) {
  .policy__link {
    font-size: 13px;
    line-height: 20px;
  }
}

@media only screen and (min-width: 992px) {
  .policy__link {
    font-size: 16px;
    line-height: 24px;
  }
}

@media only screen and (min-width: 1600px) {
  .policy__link {
    font-size: 24px;
    line-height: 36px;
  }
}

.hero__container {
  padding-top: 0;
  text-align: center;
}

@media only screen and (min-width: 767px) {
  .hero__container {
    display: flex;
    flex-direction: row-reverse;
  }
}

.hero__img {
  margin-bottom: 16px;
}

@media only screen and (min-width: 767px) {
  .hero__img {
    width: 352px;
    height: 352px;
    margin: 0;
  }
}

@media only screen and (min-width: 992px) {
  .hero__img {
    width: 460px;
    height: 460px;
  }
}

@media only screen and (min-width: 1600px) {
  .hero__img {
    width: 661px;
    height: 661px;
  }
}

@media only screen and (min-width: 767px) {
  .hero__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: left;
  }
}

.hero__title {
  display: block;
  margin: 0;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
}

@media only screen and (min-width: 575px) {
  .hero__title {
    font-size: 34px;
    line-height: 45px;
  }
}

@media only screen and (min-width: 767px) {
  .hero__title {
    font-size: 36px;
  }
}

@media only screen and (min-width: 992px) {
  .hero__title {
    font-size: 48px;
    line-height: 64px;
  }
}

@media only screen and (min-width: 1600px) {
  .hero__title {
    font-size: 64px;
    line-height: 80px;
  }
}

@media only screen and (max-width: 574px) {
  .hero__span-1,
  .hero__span-2 {
    display: block;
  }
}

@media only screen and (min-width: 767px) {
  .q1 {
    display: block;
  }
}

.hero__text {
  margin: 0;
  margin-bottom: 35px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #8f95a5;
}

@media only screen and (min-width: 575px) {
  .hero__text {
    font-size: 16px;
    line-height: 24px;
  }
}

@media only screen and (min-width: 992px) {
  .hero__text {
    font-size: 20px;
    line-height: 30px;
  }
}

@media only screen and (min-width: 1600px) {
  .hero__text {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 60px;
  }
}

.btn {
  width: 100%;
  display: inline-block;
  padding-top: 18px;
  padding-bottom: 18px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: white;
  background-color: #263238;
  border-radius: 5px;
  text-align: center;
}

@media only screen and (min-width: 575px) {
  .btn {
    font-size: 18px;
    line-height: 27px;
  }
}

@media only screen and (min-width: 767px) {
  .btn {
    width: 236px;
    padding-top: 19px;
    padding-bottom: 19px;
  }
}

@media only screen and (min-width: 992px) {
  .btn {
    width: 292px;
    height: 80px;
    padding-top: 22px;
    padding-bottom: 22px;
    font-size: 24px;
    line-height: 36px;
  }
}

@media only screen and (min-width: 1600px) {
  .btn {
    width: 438px;
    height: 118px;
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 36px;
    line-height: 54px;
  }
}

.btn--s {
  padding-top: 14px;
  padding-bottom: 14px;
}

@media only screen and (min-width: 767px) {
  .btn--s {
    width: 100%;
  }
}

@media only screen and (min-width: 992px) {
  .btn--s {
    width: 196px;
    height: 57px;
    padding: 16px 0;
    font-size: 18px;
    line-height: 27px;
  }
}

.title {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 24px;
  line-height: 80px;
  color: black;
}

@media only screen and (min-width: 575px) {
  .title {
    font-size: 30px;
  }
}

@media only screen and (min-width: 992px) {
  .title {
    font-size: 36px;
  }
}

@media only screen and (min-width: 1600px) {
  .title {
    font-size: 48px;
  }
}

.skills__list {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 575px) {
  .skills__list {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 -30px;
  }
}

@media only screen and (min-width: 767px) {
  .skills__list {
    margin: 0 auto;
    display: grid;
    justify-content: center;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 224px);
    grid-template-rows: repeat(3, 210px);
  }
}

@media only screen and (min-width: 992px) {
  .skills__list {
    grid-gap: 15px;
    grid-template-columns: repeat(3, 303px);
    grid-template-rows: repeat(3, 241px);
  }
}

@media only screen and (min-width: 1600px) {
  .skills__list {
    grid-gap: 20px;
    grid-template-columns: repeat(3, 435px);
    grid-template-rows: repeat(3, 343px);
  }
}

.skills__item {
  width: 100%;
  height: 100%;
  padding: 8px 16px 35px 16px;
  background-color: whitesmoke;
  border-radius: 5px;
  text-align: center;
}

@media only screen and (max-width: 574px) {
  .skills__item:not(:last-child) {
    margin-bottom: 21px;
  }
}

@media only screen and (min-width: 575px) {
  .skills__item {
    display: flex;
    flex-direction: column;
    width: 240px;
    height: 534px;
    flex-basis: calc((100% - 30px) / 2);
  }
}

@media only screen and (min-width: 575px) and (max-width: 766px) {
  .skills__item:nth-child(even) {
    margin-left: 30px;
  }
  .skills__item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 21px;
  }
}

@media only screen and (min-width: 767px) {
  .skills__item {
    width: 100%;
    height: 100%;
  }
  .skills__item:last-child {
    padding: 10px 16px;
    display: flex;
    flex-direction: row-reverse;
    position: relative;
  }
}

@media only screen and (min-width: 767px) and (min-width: 992px) {
  .skills__item:last-child {
    padding: 0 16px;
  }
}

@media only screen and (min-width: 767px) and (min-width: 1600px) {
  .skills__item:last-child {
    padding-left: 45px;
  }
}

@media only screen and (min-width: 767px) {
  .skills__item:last-child .skills-content {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding-right: 175px;
  }
}

@media only screen and (min-width: 767px) and (min-width: 992px) {
  .skills__item:last-child .skills-content {
    padding-right: 300px;
  }
}

@media only screen and (min-width: 767px) and (min-width: 1600px) {
  .skills__item:last-child .skills-content {
    padding-top: 54px;
    padding-right: 490px;
  }
}

@media only screen and (min-width: 767px) {
  .skills__item:last-child .btn.hide {
    display: block;
    width: 192px;
  }
  .skills__item:last-child .btn {
    display: none;
  }
  .skills__item:last-child .div__img {
    position: absolute;
    top: 0;
    right: 0;
  }
}

@media only screen and (min-width: 1600px) {
  .skills__item {
    padding-top: 10px;
    padding-bottom: 90px;
    padding-left: 45px;
    padding-right: 36px;
  }
}

.btn.hide {
  display: none;
}

.skills__item-1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
}

.skills__item-2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.skills__item-3 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}

.skills__item-4 {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}

.div__img {
  display: inline-block;
  margin: 0;
  margin-bottom: 20px;
  width: 200px;
  height: 200px;
  background-color: black;
}

@media only screen and (min-width: 575px) {
  .div__img {
    width: 185px;
    height: 185px;
    display: block;
    margin: 0;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    flex-shrink: 0;
  }
}

.skills-content {
  width: 100%;
  text-align: left;
}

@media only screen and (min-width: 575px) {
  .skills-content {
    flex-grow: 1;
    padding-right: 74px;
  }
}

@media only screen and (min-width: 767px) {
  .skills-content {
    padding: 0;
  }
}

@media only screen and (min-width: 992px) {
  .skills-content {
    padding-right: 25px;
  }
}

@media only screen and (min-width: 1600px) {
  .skills-content {
    padding-right: 0;
  }
}

.skills-content__title {
  display: inline-block;
  margin: 0;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  color: #263238;
}

@media only screen and (min-width: 767px) {
  .skills-content__title {
    margin: 0;
    font-size: 20px;
    line-height: 40px;
  }
}

@media only screen and (min-width: 992px) {
  .skills-content__title {
    font-size: 22px;
    line-height: 80px;
  }
}

@media only screen and (min-width: 1600px) {
  .skills-content__title {
    font-size: 30px;
    line-height: 60px;
  }
}

.text {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #8f95a5;
}

@media only screen and (min-width: 575px) {
  .text {
    font-size: 12px;
    line-height: 18px;
  }
}

@media only screen and (min-width: 767px) {
  .text {
    font-size: 13px;
    line-height: 20px;
  }
}

@media only screen and (min-width: 992px) {
  .text {
    font-size: 14px;
    line-height: 21px;
  }
}

@media only screen and (min-width: 1600px) {
  .text {
    font-size: 16px;
    line-height: 24px;
  }
}

.skills__span-1,
.skills__span-2 {
  display: inline-block;
}

.skills__span-1 {
  margin-bottom: 10px;
}

@media only screen and (min-width: 767px) {
  .about__title {
    text-align: left;
    margin: 0;
  }
}

@media only screen and (min-width: 1600px) {
  .about__title {
    margin-bottom: 10px;
  }
}

.about__img {
  display: inline-block;
  margin-bottom: 23px;
  width: 283px;
  height: 283px;
  background-color: black;
}

@media only screen and (min-width: 575px) {
  .about__img {
    width: 352px;
    height: 352px;
    margin-bottom: 25px;
  }
}

@media only screen and (min-width: 767px) {
  .about__img {
    position: absolute;
    top: 72px;
    right: 0;
    margin: 0;
    width: 295px;
    height: 295px;
  }
}

@media only screen and (min-width: 992px) {
  .about__img {
    top: 0;
    width: 336px;
    height: 336px;
  }
}

@media only screen and (min-width: 1600px) {
  .about__img {
    top: -65px;
    width: 500px;
    height: 500px;
  }
}

.about__container {
  position: relative;
  text-align: center;
}

@media only screen and (min-width: 767px) {
  .about__container {
    padding-right: 341px;
  }
}

@media only screen and (min-width: 992px) {
  .about__container {
    padding-right: 395px;
  }
}

@media only screen and (min-width: 1600px) {
  .about__container {
    padding-right: 655px;
  }
}

.text--m {
  margin: 0;
}

@media only screen and (min-width: 575px) {
  .text--m {
    font-size: 14px;
    line-height: 21px;
  }
}

@media only screen and (min-width: 767px) {
  .text--m {
    text-align: left;
    font-size: 16px;
    line-height: 24px;
  }
}

@media only screen and (min-width: 1600px) {
  .text--m {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 30px;
  }
}

.about__participants {
  margin: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #8f95a5;
}

@media only screen and (min-width: 575px) {
  .about__participants {
    font-size: 14px;
    line-height: 21px;
  }
}

@media only screen and (min-width: 767px) {
  .about__participants {
    font-size: 13px;
    line-height: 20px;
  }
}

@media only screen and (min-width: 992px) {
  .about__participants {
    font-size: 16px;
    line-height: 24px;
  }
}

@media only screen and (min-width: 1600px) {
  .about__participants {
    font-size: 20px;
    line-height: 30px;
  }
}

@media only screen and (min-width: 575px) {
  .about__list {
    display: flex;
    justify-content: space-around;
  }
}

@media only screen and (min-width: 767px) {
  .about__list {
    justify-content: space-between;
  }
}

@media only screen and (min-width: 992px) {
  .about__list {
    padding-right: 120px;
  }
}

@media only screen and (min-width: 1600px) {
  .about__list {
    padding-right: 0;
  }
}

.about__number {
  font-weight: 600;
  font-size: 24px;
  line-height: 80px;
  color: #2a3246;
}

@media only screen and (min-width: 767px) {
  .about__number {
    font-size: 22px;
  }
}

@media only screen and (min-width: 992px) {
  .about__number {
    font-size: 30px;
  }
}

@media only screen and (min-width: 1600px) {
  .about__number {
    font-size: 48px;
  }
}

.about__number--margin {
  margin: 0;
}

.pricing__img {
  display: inline-block;
  margin: 0;
  margin-bottom: 10px;
  width: 248px;
  height: 248px;
  background-color: black;
}

@media only screen and (min-width: 575px) {
  .pricing__img {
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 767px) {
  .pricing__img {
    width: 197px;
    height: 197px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media only screen and (min-width: 992px) {
  .pricing__img {
    width: 222px;
    height: 222px;
  }
}

@media only screen and (min-width: 1600px) {
  .pricing__img {
    width: 311px;
    height: 311px;
  }
}

@media only screen and (min-width: 767px) {
  .price__list {
    display: flex;
  }
}

@media only screen and (max-width: 766px) {
  .price__item:not(:last-child) {
    margin-bottom: 70px;
  }
}

@media only screen and (min-width: 575px) {
  .price__item {
    padding: 0 60px;
  }
}

@media only screen and (min-width: 767px) {
  .price__item {
    padding: 0 10px;
    flex-basis: calc(100% / 3);
    display: flex;
    flex-direction: column;
  }
}

.price-content {
  text-align: left;
}

@media only screen and (max-width: 766px) {
  .price-content {
    text-align: center;
  }
}

@media only screen and (min-width: 767px) {
  .price-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}

.price-content__title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #263238;
}

@media only screen and (min-width: 575px) {
  .price-content__title {
    font-size: 24px;
  }
}

@media only screen and (min-width: 767px) {
  .price-content__title {
    font-size: 20px;
  }
}

@media only screen and (min-width: 992px) {
  .price-content__title {
    font-size: 22px;
    line-height: 34px;
  }
}

@media only screen and (min-width: 1600px) {
  .price-content__title {
    font-size: 20px;
    line-height: 48px;
  }
}

.price__text {
  margin-bottom: 30px;
}

@media only screen and (min-width: 767px) {
  .price__text {
    flex-grow: 1;
  }
}

@media only screen and (min-width: 575px) {
  .price__span-1,
  .price__span-2 {
    display: block;
  }
}

.price-content__link {
  display: inline-flex;
  align-items: center;
  padding: 8px 12px;
  background-color: #eeeeee;
  border-radius: 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #546269;
}

@media only screen and (min-width: 575px) {
  .price-content__link {
    font-size: 16px;
    line-height: 24px;
  }
}

@media only screen and (min-width: 767px) {
  .price-content__link {
    align-self: start;
    width: 100%;
  }
}

.cost {
  margin-right: 10px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #263238;
}

@media only screen and (min-width: 575px) {
  .cost {
    font-size: 24px;
    line-height: 36px;
  }
}

@media only screen and (min-width: 767px) {
  .classes {
    display: block;
  }
}

@media only screen and (min-width: 992px) {
  .classes {
    display: inline;
  }
}

@media only screen and (min-width: 767px) {
  .contacts__container {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: left;
    padding-left: 266px;
  }
}

@media only screen and (min-width: 992px) {
  .contacts__container {
    padding-left: 477px;
  }
}

@media only screen and (min-width: 1600px) {
  .contacts__container {
    padding-top: 100px;
    padding-left: 678px;
    padding-bottom: 254px;
  }
}

.contacts__title {
  margin: 0;
}

.contacts__img {
  display: inline-block;
  margin: 0;
  margin-bottom: 30px;
  width: 253px;
  height: 228px;
  background-color: black;
}

@media only screen and (min-width: 575px) {
  .contacts__img {
    width: 358px;
    height: 322px;
  }
}

@media only screen and (min-width: 767px) {
  .contacts__img {
    position: absolute;
    top: 14px;
    left: 20px;
    margin: 0;
    width: 233px;
    height: 210px;
  }
}

@media only screen and (min-width: 992px) {
  .contacts__img {
    top: -7px;
    left: 40px;
    width: 312px;
    height: 281px;
  }
}

@media only screen and (min-width: 1600px) {
  .contacts__img {
    top: 0;
    left: 70px;
    width: 477px;
    height: 429px;
  }
}

.contacts__text {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #8f95a5;
}

@media only screen and (min-width: 575px) {
  .contacts__text {
    font-size: 16px;
    line-height: 24px;
    padding: 0 30px;
  }
}

@media only screen and (min-width: 767px) {
  .contacts__text {
    padding: 0;
    margin-top: 0;
    margin-bottom: 20px;
  }
}

.contacts__form {
  display: flex;
}

@media only screen and (max-width: 574px) {
  .contacts__form {
    flex-direction: column;
  }
}

@media only screen and (min-width: 575px) {
  .contacts__form {
    flex-direction: row;
  }
}

.contacts__input {
  width: 100%;
  height: 50px;
  margin-bottom: 17px;
  padding: 16px 26px;
  border: 1px solid #8f95a5;
  border-radius: 5px;
}

.contacts__input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #8f95a5;
}

@media only screen and (min-width: 575px) {
  .contacts__input {
    margin-right: 10px;
  }
}

.contacts__btn {
  width: 100%;
  height: 50px;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: white;
  background: #263238;
  border: none;
  border-radius: 5px;
}

@media only screen and (min-width: 575px) {
  .contacts__btn {
    width: 193px;
  }
}
