.footer {
    padding: 75px 0;
    border-top: 2px solid #ecebeb;
}

.footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-menu__list {
    margin: 0;
}

.footer-menu__item:not(:last-child) {
    margin-right: 93px;
}
