.hero {
    position: relative;
    padding: 100px 0;
}

.hero__container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}

.hero__container::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 17%;
    left: 17%;
    background-image: url("../images/hero-bg.svg");
    width: 1142px;
    height: 741px;
}

.hero__content {
    text-align: left;
}

.hero__title {
    margin: 0;
    margin-bottom: 22px;
    font-weight: 800;
    font-size: 43px;
    line-height: 129%;
}
