.learn-more {
    padding: 159px 0;
}

.learn-more__container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}

.learn-more__content {
    margin-right: 30px;
}
