.logo {
    font-weight: 700;
    font-size: 17px;
    line-height: 129%;

    letter-spacing: 0.045em;
    text-transform: uppercase;

    color: #5dbd6d;

    &--margin-b {
        margin-bottom: 38px;
    }
}
