//main font
$main-font: "Poppins", sans-serif;

// main color
$accent-color: rgba(38, 50, 56, 1);
$black-color: rgba(0, 0, 0, 1);
$white-color: rgba(255, 255, 255, 1);
$grey-color: rgba(143, 149, 165, 1);

// bgc
$bgc-1: rgba(245, 245, 245, 1);
